@font-face {
  font-family: 'MullerBold';
  src: url('../fonts/MullerBold.eot');
  src: url('../fonts/MullerBold.eot') format('embedded-opentype'), url('../fonts/MullerBold.woff2') format('woff2'), url('../fonts/MullerBold.woff') format('woff'), url('../fonts/MullerBold.ttf') format('truetype'), url('../fonts/MullerBold.svg#MullerBold') format('svg');
}

@font-face {
  font-family: 'MullerExtraBold';
  src: url('../fonts/MullerExtraBold.eot');
  src: url('../fonts/MullerExtraBold.eot') format('embedded-opentype'), url('../fonts/MullerExtraBold.woff2') format('woff2'), url('../fonts/MullerExtraBold.woff') format('woff'), url('../fonts/MullerExtraBold.ttf') format('truetype'), url('../fonts/MullerExtraBold.svg#MullerExtraBold') format('svg');
}

@font-face {
  font-family: 'MullerMedium';
  src: url('../fonts/MullerMedium.eot');
  src: url('../fonts/MullerMedium.eot') format('embedded-opentype'), url('../fonts/MullerMedium.woff2') format('woff2'), url('../fonts/MullerMedium.woff') format('woff'), url('../fonts/MullerMedium.ttf') format('truetype'), url('../fonts/MullerMedium.svg#MullerMedium') format('svg');
}

@font-face {
  font-family: 'MullerHeavy';
  src: url('../fonts/MullerHeavy.eot');
  src: url('../fonts/MullerHeavy.eot') format('embedded-opentype'), url('../fonts/MullerHeavy.woff2') format('woff2'), url('../fonts/MullerHeavy.woff') format('woff'), url('../fonts/MullerHeavy.ttf') format('truetype'), url('../fonts/MullerHeavy.svg#MullerHeavy') format('svg');
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  border: 2px solid #fff;
  border-radius: 20px;
  cursor: pointer;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 25px;
}

.btn:focus {
  outline: none;
}

.btn-red {
  border-color: #fb0275;
  background-color: #fb0275;
  color: #fff;
}

.header {
  background-image: url(../img/bcg-header.jpg);
  color: #fff;
}

.header-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.header .header-nav {
  padding-top: 60px;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
}

.header .header-nav .logo {
  margin-right: 100px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 2px;
}

.header .header-nav nav ul li {
  display: inline-block;
  margin-right: 50px;
}

.header .header-nav nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  line-height: 1.2;
}

.header .header-nav .phone {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.header .header-content {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 80px;
}

.header .header-content img {
  height: 100%;
  width: calc(58.333333333333336% - 30px);
}

.header .header-content .header-text {
  width: calc(41.66666666666667% - 30px);
}

.header .header-content .header-text-1 {
  margin-top: 50px;
  font-family: 'MullerExtraBold';
  font-size: 60px;
  text-transform: uppercase;
}

.header .header-content .header-text-2 {
  font-family: 'MullerMedium';
  font-size: 32px;
}

.header .header-content .header-text-3 {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
}

.header .header-content .header-text button {
  padding: 10px 30px;
  font-size: 16px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
}