@font-face {
    font-family: 'MullerBold';
    src: url('../fonts/MullerBold.eot');
    src: url('../fonts/MullerBold.eot') format('embedded-opentype'),
         url('../fonts/MullerBold.woff2') format('woff2'),
         url('../fonts/MullerBold.woff') format('woff'),
         url('../fonts/MullerBold.ttf') format('truetype'),
         url('../fonts/MullerBold.svg#MullerBold') format('svg');
}

