@import "fonts.less";
@import "smart-grid.less";
.reset();

body{
   
}

.main {
    background-image: url(../img/bcg-header.jpg);
    color: #fff;
    &-wrapper{
        .wrapper();
        padding-top: 60px;
        display: flex;
        justify-content: space-around;
        .logo{
            margin-right: 130px;
            font-size: 18px;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.2;
        }
        nav{
            ul{
                li{
                    display: inline-block;
                    margin-right: 50px;
                    a{
                        color: #fff;
                        text-decoration: none;
                        font-size: 13px;
                        font-family: 'Open Sans', sans-serif;
                        text-transform: uppercase;
                        line-height: 1.2;
                    }
                    }
                }
            }
        .phone{
                font-size: 16px;
                font-family: 'Open Sans', sans-serif;
                font-weight: bold;
                text-transform: uppercase;
                line-height: 1.2;

            }
        .btn{
                border: 2px solid #fff;
                border-radius: 20px;
                cursor: pointer;
                background-color: transparent;
                font-family: 'Open Sans', sans-serif;
                font-size: 12px;
                font-weight: 700;
                text-align: center;
                color: #fff;
                padding: 5px 10px;
            }
        }
    &-content{
        .wrapper();
    }
    }


